<%- include('./../partials/_head') %>
<%- include('./../shared/_navbar') %>
<div class="max-w-3xl flex flex-col justify-center items-center mx-auto">
    <h1 class="text-5xl font-semibold  text-center">Login</h1>
    <div class="my-11">
        <a href="/auth/google" class="bg-blue-700 text-gray-200 dark:bg-blue-500 py-3 px-6
        hover:bg-blue-600
        
        "><i class="fab fa-google"></i> Login with Google 
            
        </a>
    </div>
</div>

<%- include('./../partials/_body') %>